* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-box {
    height: 90px;
    width: 100%;
    background-color: wheat;

}

.nav-box {
    height: 90px;
    width: 100%;
    background-color: #FFFFFF;
    border-bottom: 1px solid white;
    display: flex;

    gap: 0px;
}

.logo {
    height: 100%;
    width: 320px;
    text-align: center;
    padding: 20px 120px;
}

.logo img {
    height: 35px;
    width: 200px;
}

.location-box {
    height: 100%;
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.location {
    height: 40px;
    width: 80%;
    border-radius: 20px;
    border: 1px solid;
    display: flex;
    align-items: center;
}

.icons {
    padding: 0px 10px;
}

span {
    font-size: 18px;
    font-weight: bold;
}

.search-box {
    height: 100%;
    width: 320px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.input-box {
    height: 20px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-inner {

    height: 40px;
    width: 80%;
    border-radius: 20px;
    border: 1px solid;
    display: flex;
    align-items: center;
}

.search-icons {
    font-size: 19px;
    color: grey;
    padding: 10px;
}

input {
    height: 100%;
    width: 100%;
    font-size: 20px;
    border: none;
    outline: none;
}



.link-box {
    height: 100%;
    width: 350px;

}

ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-size: 19px;
}

ul li span a {
    color: orangered;
    font-size: 18px;
}

.login-box {
    height: 100%;
    width: 210px;
    display: flex;
    align-items: center;
    justify-content: start;
}

button {
    height: 60px;
    width: 100px;
    background-color: orangered;
    font-size: 19px;
    color: #FFFFFF;
    border-radius: 20px;
    border: none;
}

.image img {
    height: 300px;
    width: 100%;
}



.upper-card-container {
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upper-card {
    height: 120px;
    width: 70%;

}

.upper-card h4 {
    font-size: 20px;
    padding: 10px;
}



.item-box {
    height: 60px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;

}

.lunch-box {
    height: 70px;
    width: 200px;

}

.box-border {
    height: 65px;
    width: 180px;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    box-shadow: 10px 10px 10px 10px #F4F4F4;
}

.box-border img {
    padding: 5px;
    height: 100%;
    width: 100%;
}



.lunch-text {
    display: flex;
    align-items: center;
    font-weight: bold;
}






.mid-card {
    height: 120px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.mood-card {
    height: 100%;
    width: 70%;
}

.mood-text {
    padding: 10px;
    font-size: 20px;
    display: inline-flex;
}

.mood-text a {
    text-decoration: none;
    font-size: 18px;
    color: #0FA9D1;

}

.mid-card-outer {
    height: 100px;
    width: 100%;
    display: flex;
    gap: 10px;
}



.mid-card-box {

    height: 70px;
    width: 250px;
    display: flex;
    border-radius: 10px;
    border: 1px solid gray;
    box-shadow: 3px 3px 3px 3px #f8f4f4;

}

.food-image {
    height: 70px;
    width: 30%;
}

.food-image img {
    padding: 10px;
    height: 100%;
    width: 100%;
}

.food-text {
    height: 65px;
    width: 70%;

}


.heading-box {
    height: 32.5px;
    width: 100%;
    padding: 10px 0px;
}

.heading-box h4 {
    font-weight: bold;
    margin-top: 6px;
}

.para-text {
    height: 32.5px;
    width: 100%;


}

.para-text span {
    font-size: small;
    font-weight: 100;
}

/* Food box container */

.food-card-container {
    height: 300px;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-food-box {
    height: 300px;
    width: 70%;
}

.food-heading {
    width: 100%;
    height: 50px;
}

.food-heading h4 {
    padding: 12px;
    font-size: 19px;

}

.food-heading h4 a {
    text-decoration: none;
    font-size: 18px;
    color: #0FA9D1;
    font-weight: normal;
}

.food-trends-card {
    height: 250px;
    width: 100%;
    display: flex;
    gap: 10px;
}

.card {
    height: 200px;
    width: 30%;
    border-radius: 10px;
    
}

.card-image {
    height: 120px;
    width: 100%;
    
}

.card-image img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.card-text{
    margin-top: 2px;
    border: 1px solid #F2F2F2;
    border-radius: 10px;
}
.card-heading h4{
    font-size: 16px;
    font-weight: 100;
}
.card-para p{
    margin-top: 10px;
    color: #828181;
} 